spec/fixtures/sample.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Country">
    <xs:sequence>
      <xs:element name="country_name" type="xs:string"/>
      <xs:element name="population" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="country" type="Country">
  </xs:element>
</xs:schema>