spec/fixtures/sample.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ANY" abstract="true">
    <xs:attribute name="nullable" type="xs:boolean"/>
  </xs:complexType>
  <xs:complexType name="City">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="crest" type="ANY"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Country">
    <xs:sequence>
      <xs:element name="country_name" type="xs:string"/>
      <xs:element name="population" type="xs:decimal"/>
      <xs:element name="city" type="City" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="country" type="Country">
  </xs:element>
</xs:schema>